*{
    margin: 0;
    padding: 0;
    text-transform:uppercase ;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Cantarell, sans-serif;
}

#main{
  height: 100vh;
  position: relative;
}

a{
  color: rgb(251, 247, 247);
  font-weight: 500;
}

.navbar{
    position: absolute;
    right: 1%;
    padding-top: 2%;
    width: 70%;
    height: 5%; 
    display:flex;
    justify-content: space-around;
    align-items: centre;
    font-size: 20px;
    letter-spacing: 5px;
    
}


#search{
    padding-left: 20px;
    width: 500px;
    height: 30px;
    font-size: 15px;
    letter-spacing: 5px;
    border-radius: 10px 10px 10px 10px;
}


#srcbtn{
 width: 100px;
 height: 30px;
 font-size: 15px;
 letter-spacing: 5px;
 border-radius: 10px 10px 10px 10px;
}


 .background{
    background-image:url(./img/img1.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    
}


#main-heading{
  position: absolute;
  right: 5%;
  top: 20%;
  font-size: 40px;
  letter-spacing: 3px;
  color: rgba(255, 123, 0, 0.776);
  text-shadow: 2px 2px 8px grey;
}

#main-heading>h6{
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: rgb(86, 85, 85);
}

#main-heading>p{
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: rgb(86, 85, 85);
}

.more:hover{
 background-color: white;
 color: orange;
 border: 2px solid orange;
}

#box>h6{
  padding-bottom: 7px;
  color: rgb(105, 97, 97);
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 2px;
  padding-left: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

footer{
  font-size: 12px;
  letter-spacing: 1px;
    position: absolute;
    width: 100%;
    background-color:rgb(208, 208, 208) ;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 2px 10px grey ;
    z-index: 10;
    
}

.fa {
    padding: 10px;
    font-size: 20px;
    height: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram{
    background: rgb(235, 140, 188);
  }
